<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oceana Events | RFP Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .oceanabg {
        background-color: #02233cc8;
    }
    .oceanablue {
        background-color: #012b5d;
    }
    body {
        background-image:url(https://www.oceanarestaurant.com/wp-content/uploads/Bill-Seared-Scallops.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    
    <div class="container">
    <div class="row mb-5">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8 mt-2 mb-5 oceanabg text-white">
           <div class="mp-5 mt-2 oceanablue"><img src="https://www.karenandandrew.com/wp-content/uploads/2017/06/OceanaLogo.png"></div>
           <h3>Word File Replacement Demo</h3>
           {{!-- <h4>The planner email is: {{emails}}</h4> --}}
           <form>
                <div class="form-group">
                    <label for="clientName">Primary Contact Name</label>
                    <input type="text" class="form-control" id="clientName" placeholder="Enter Full Name">
                </div>    

                <div class="form-group">
                    <label for="clientEmail">Primary Contact Email</label>
                    <input type="email" class="form-control" id="clientEmail" aria-describedby="emailHelp" placeholder="Enter email">

                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Credit Card Number for Deposit</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Enter Full Credit Card Number">
                    <small id="emailHelp" class="form-text text-muted">We use 128-bit SSL encryption for payment information.</small>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="paythis">
                        <label class="form-check-label" for="paythis">Use This Card to Pay at Event Conclusion</label><br>
                    </div>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Onsite Contact/Host Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Onsite Contact Name">
                </div>                
                <div class="form-group">
                    <label for="formGroupExampleInput">Number of Guests</label>
                    <input type="number" class="form-control" id="guestNum" min="2" max="100">
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label" for="exampleCheck1">Dietary Requests</label><br>
                    <input type="checkbox" class="form-check-input" id="vegMenu">
                    <label class="form-check-label" for="vegMenu">Vegetarian/Vegan</label><br>
                    <input type="checkbox" class="form-check-input" id="kosherMenu">
                    <label class="form-check-label" for="kosherMenu">Kosher</label><br>
                    <input type="checkbox" class="form-check-input" id="lowSodium">
                    <label class="form-check-label" for="lowSodium">Low Sodium</label><br>
                </div>

                <a href="#" id="modes"><button type="button" class="btn btn-primary btn-block mb-3 pb-3" data-toggle="modal" data-target="#myModal">Submit</button></a>
                </form>
        </div>
        <div class="col-md-2 col-sm-2 mb-4"></div>
    </div>
</div>

<div id="myModal" class="modal fade"  tabindex="-1" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
           <div class="mp-5 mt-2 oceanablue"><img src="https://www.karenandandrew.com/wp-content/uploads/2017/06/OceanaLogo.png"></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Thank you for entering your event details. We have validated the credit card deposit and your event has now been confirmed! An email confirmation has also been sent to \email address</h6><br>
        <em><h8>(PROGRAMMING NOTE) The following will be custom personalized responses based on what was entered by the client in the form...</h7></em><br><br>
        <em><p>UPSELL scenario: client entered 25 guests</p></em>
        <h7 class="text-primary">For party sizes of 20 and above such as yours, may we suggest beginning the evening with a cocktail reception at our elegant and inviting raw bar space. Click yes to confirm and we will adjust your pricing package. We are happy to provide a multiple room discount so your guests may enjoy both spaces.</h7><br>
        <em><p>additional charge scenario: client clicked Kosher</p></em>
        <h7 class="text-warning">You indicated that you will have kosher guests attending. Here are our menu choices for your consideration: <span class="text-secondary">\\link to kosher ordering form.\\</span> The lox appetizer is especially fabulous.</h7><br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Accept</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $("#modes").on("click", function(event) {
            $('#myModal').modal('show'); 
        })
    </script>
</body>
</html>